<ion-content class="ion-padding" slot="end">
    <ion-card>
        <ion-row>
            <ion-col size="10">
            </ion-col>
            <ion-col size="2">
                <ion-fab-button size="small">
                    <ion-icon name="add"></ion-icon>
                </ion-fab-button>
            </ion-col>
        </ion-row>
        <ion-row>
            Your appliances:
        </ion-row>

        <ion-row>
            <ion-col>
                <ion-row>
                    <ion-icon src="assets/light_bulb.svg" class="icon-size"></ion-icon>
                </ion-row>
                <ion-row>
                    <ion-label>Lights</ion-label>
                </ion-row>
            </ion-col>
            <ion-col>
                <ion-row>
                    <ion-icon src="assets/TV.svg" class="icon-size"></ion-icon>
                </ion-row>
                <ion-row>
                    <ion-label>TV</ion-label>
                </ion-row>
            </ion-col>
            <ion-col>
                <ion-row>
                    <ion-icon src="assets/speakers.svg" class="icon-size"></ion-icon>
                </ion-row>
                <ion-row>
                    <ion-label>Speakers</ion-label>
                </ion-row>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-row>
                    <ion-icon src="assets/phone.svg" class="icon-size"></ion-icon>
                </ion-row>
                <ion-row>
                    <ion-label>Phone</ion-label>
                </ion-row>
            </ion-col>
            <ion-col>
                <ion-row>
                    <ion-icon src="assets/computer.svg" class="icon-size"></ion-icon>
                </ion-row>
                <ion-row>
                    <ion-label>Computer</ion-label>
                </ion-row>
            </ion-col>
            <ion-col>
                <ion-row>
                    <ion-icon src="assets/curtains.svg" class="icon-size"></ion-icon>
                </ion-row>
                <ion-row>
                    <ion-label>Curtains</ion-label>
                </ion-row>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-row>
                    <ion-icon src="assets/air_conditioner.svg" class="icon-size"></ion-icon>
                </ion-row>
                <ion-row>
                    <ion-label>Air Conditioner</ion-label>
                </ion-row>
            </ion-col>
            <ion-col>
                <ion-row>
                    <ion-icon src="assets/thermostat.svg" class="icon-size"></ion-icon>
                </ion-row>
                <ion-row>
                    <ion-label>Thermostat</ion-label>
                </ion-row>
            </ion-col>
        </ion-row>
    </ion-card>

</ion-content>
