ion-content {
    --background: transparent;
}

// ion-card {
//     --background: rgba(0, 0, 0, 0.3);
// }

.icon-size {
    margin: auto;
    width: 50px;
    height: 50px;
}

ion-label {
    margin: auto;
}

ion-fab-button {
    &::part(native) {
        --border-width: 2px;
        --border-color: white;
        --border-style: solid;

        --background: #092c4d;
    }
}
