<ion-card>
    <ion-card-header>
        <ion-card-title>Review Wake Time</ion-card-title>
    </ion-card-header>

    <ion-card-content>
        <ion-list>
            <ion-item *ngFor="let entry of form">
                <ion-label>{{entry.text}}</ion-label>
                <ion-datetime display-format="HH:mm" picker-format="HH:mm" [(ngModel)]="entry.value"
                    (ngModelChange)="presentAlertConfirm()"
                    aria-expanded="false" aria-haspopup="true" aria-labelledby="ion-dt-4-lbl"
                    class="ios in-item hydrated">
                    <input type="hidden" class="aux-input" name="ion-dt-4" >
                    </ion-datetime>
                <ion-checkbox slot="end" [(ngModel)]="entry.isChecked"></ion-checkbox>
            </ion-item>
        </ion-list>
    </ion-card-content>
    <ion-button class="save-button" size="small" shape="round" (click)="saveAlarm()">
        Save
    </ion-button>
</ion-card>
