<ion-card style=" margin-top: 13rem;">
    <ion-card-header>
    <ion-title>
        Set Wake Time
    </ion-title>
    </ion-card-header>
    <ion-card-content style="display: flex; justify-content: center;">
        <ion-item
            class="item ios in-list ion-activatable ion-focusable hydrated item-label item-interactive item-datetime item-has-value">
            <ion-datetime display-format="HH:mm" picker-format="HH:mm:ss " value="1990-02-19T06:00Z" aria-expanded="false"
                aria-haspopup="true" aria-labelledby="ion-dt-4-lbl" class="ios in-item hydrated"
                [pickerOptions]="customPickerOptions"><input type="hidden"
                    class="aux-input" name="ion-dt-4" value="1990-02-19T06:00Z"></ion-datetime>
        </ion-item>
    </ion-card-content>
</ion-card>