<ion-content class="ion-padding">

    <ion-row style="margin-top: 165px">
        <ion-col style="text-align: center;">

            <ion-button style="width: 150px; height: 150px;" (click)="prepareToSleep()">
                <span style="word-break: break-all; font-size: 1.3rem; text-transform: none;">
                    Prepare <br /> to sleep
                </span>
            </ion-button>
        </ion-col>
    </ion-row>

    <ion-row>
        <ion-col>

            <ion-button style="width: 70px; height: 70px; float: right;" (click)="navigate('/routine')">
                <span style="word-break: break-all; font-size: 0.7rem; text-transform: none;">
                    Routine
                </span>
            </ion-button>
        </ion-col>
    </ion-row>

    <ion-row>
        <ion-col>

            <ion-button style="width: 100px; height: 100px;" (click)="setAlarm()">

                <span style="word-break: break-all; font-size: 1rem; text-transform: none;">
                    Alarm <br /> {{ nextDayAlarm  }}
                </span>
            </ion-button>
        </ion-col>
    </ion-row>

    <!-- <ion-row>
        <ion-col size="10">
            TEST HOME
        </ion-col>
        <ion-col size="2">
            PAGE
        </ion-col>
    </ion-row>

    <ion-row>
        <ion-button (click)="clear()">
            Clear
        </ion-button>
    </ion-row>

    <ion-row>

        <ion-button *ngFor="let url of urls"
            (click)="testEndpoint(url)">
            Test EndPoint ({{url}})
        </ion-button>
    </ion-row>

    <ion-row>
        <ion-col size="12" *ngFor="let debug of debugs">
            {{ debug }}
        </ion-col>
    </ion-row> -->

</ion-content>
